<div class="header ">

        <button id="toggle-nav" type="button" onclick={{action 'didAction'}}>
                <span class="material-symbols-outlined">
                        menu
                </span>
        </button>
        <h1>{{@heading}}</h1>
         <LinkTo class="header-link" @route="writer.biodata" ><Profile/></LinkTo>
</div>