<div class="media-viewer" id="media-viewer">
   <div class="close">
                <button id="page-close" onclick={{action 'didAction'}} type="button">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
                <div class="media-content">
                    
                </div>
    </div> 
</div>