.outer{
    height: calc(100% - 100px);
    width: 100%;
    top:1000px;
    position: absolute;
    overflow-y:scroll ;

}
.page{
    position: absolute;
    padding-bottom: 80px;
    width: 60%;
    min-height: 50%;
    height: max-content;
    bottom: -20px;
    background: #fff;
    justify-self: center;
    margin: 0px auto;
    top: 60px;
    left: 0;right:0;
    word-break: break-word;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #bbb;
    z-index: 5;
    .container{
        position: relative;
        .close{
            position: absolute;
            top: -40px;
            right: -25px;
            display:none;
            cursor: pointer;
            &:hover{
                span{
                    color: red;
                }
              
            }
          
        }
        
    }
    .title{
        font-weight: 300;
    font-size: 24px;
    color: #000000;
    border: 1px solid #e8e8e8;
    outline: none;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
        &[contenteditable]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            color: #666;
            
            display: block; /* For Firefox */
          }
        
    }
    .text{
        font-size: 14px;
        font-size: 18px;
        font-weight: 400;
        min-height: 200px;
        outline: none;
        border: 1px solid #e8e8e8;
        margin-top: 30px;
        color: #000000;
        &[contenteditable]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            color:#aaa ;
            display: block; /* For Firefox */
          }
        
       
    }
    .media{
        width: 100%;
        min-height: 111px;
        height:max-content;
        margin-top: 30px;
        overflow-y: scroll;
        border: 1px solid #000;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        div{
            height: 100px;
            width: 130px;
            border: 1px solid #000;
            margin: 5px;
            video,img{
                height: 100%;
                width: 100%;
                position: relative;
            }
            >span{
                font-size: 100px;
            }
        }
        .image,.video,.audio{
            position: relative;
           
        }
        
        &::-webkit-scrollbar{
            width: 3px;
            background: rgb(179, 178, 178);
        }
        &::-webkit-scrollbar-track {
            background: rgb(227, 225, 225);
        }
        
    } 
    .upload-action{
        width: 100%;
        height: 50px; 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom:10px;
        input{
            width:20px;
            height: 20px;
            display: none;
        }
        span{
            margin-left: -20px;
            height: 20px;
            cursor: pointer;
            z-index: 6;
            &:hover{
                color: #0080FF ;
            }
        }
    }
    #save{
        padding: 10px 20px;
    background: #93C572;
    border-radius: 10%;
    border: solid 1px #50C8B4;
    }
    .media-content{
        display: flex;
    }
    &:hover{
        .close{
            display: block;

        }
       
    }
}


.delete{
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: 10px;
}
.hide-delete{
    display: none;
}