@import "./navbar";
@import "./home";
@import "./viewer";
@import "./page";
@import "./biodata";
// @import "writer";
// @import "bio-data";
// @import "editer";
// @import "datelist";
// @import "home";
html{
    height: 100%;
    width: 100%;
}
*{
    margin: 0px;
    // border: 1px solid black;
}
body
{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: initial;
    font-family: inherit;
}
button{
    background: none;
    border: none;
}
.diary
{
    width: 100%;
    height: 100%;
    overflow-y: hidden;

}
.star-note{
    color: gold;
}
#gender{
    width: max-content;
}
